version 5.249.0

group build

    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core 4.7.0.0
    nuget Fake.Core.Environment
    nuget Fake.Core.Target
    nuget Fake.Core.Trace
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs

group server

    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget FSharp.Core
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Elmish.Bridge.Giraffe
    nuget Fable.Remoting.Giraffe
    nuget FsToolkit.ErrorHandling
    nuget Giraffe
    nuget Giraffe.SerilogExtensions
    nuget jose-jwt
	nuget Serilog
	nuget Serilog.Extensions.Logging
	nuget Serilog.Settings.Configuration
	nuget Serilog.Sinks.Console
	nuget Serilog.Sinks.File
    nuget Thoth.Json.Net

group ui

    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core
    nuget Elmish.Bridge.Client
	nuget Elmish.Toastr
    nuget Fable.Elmish
	nuget Fable.Elmish.Browser
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.React
    nuget Fable.FontAwesome.Free
    nuget Fable.Promise
    nuget Fable.React
    nuget Fable.Remoting.Client
	nuget Fable.SimpleJson
    nuget Fulma
    nuget Fulma.Extensions.Wikiki.Checkradio
	nuget Fulma.Extensions.Wikiki.PageLoader
	nuget Fulma.Extensions.Wikiki.Tooltip 2.0.1 // pinned to 2.0.1 (and bulma-tooltip pinned to 2.0.2) as 3.0.0 seems not to work
	nuget Thoth.Json

group dev-console

    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

	nuget FSharp.Core
    nuget Microsoft.AspNetCore
    nuget Fable.Remoting.Giraffe
    nuget FsToolkit.ErrorHandling
    nuget Giraffe.SerilogExtensions
    nuget jose-jwt
	nuget Serilog
	nuget Serilog.Settings.Configuration
	nuget Serilog.Sinks.Console
    nuget Thoth.Json.Net
