@import "../../../node_modules/bulma/sass/utilities/initial-variables"

$primary : #2f4f4f // note: "dark slate gray" (cf. Bulma default of #00d1b2)
$info : #2f96b4 // note: as per https://github.com/CodeSeven/toastr/blob/master/toastr.scss#L158
$link : #7b68ee // note: "medium slate blue" (cf. Bulma default of #3273dc)
$success : #51a351 // note: as per https://github.com/CodeSeven/toastr/blob/master/toastr.scss#L152
$warning : #f89406 // note: as per https://github.com/CodeSeven/toastr/blob/master/toastr.scss#L161
$danger : #bd362f // note: as per https://github.com/CodeSeven/toastr/blob/master/toastr.scss#L155

$warning-invert : #ffffff

$dark : #484848
$light : #b7b7b7
$black : black
$white : white

@import "../../../node_modules/bulma/bulma"

// TODO-NMB: If required...@import "../../../node_modules/bulma-checkradio/dist/bulma-checkradio"
// TODO-NMB: If required...@import "../../../node_modules/bulma-pageloader/dist/bulma-pageloader"
// TODO-NMB: If required...@import "../../../node_modules/bulma-tooltip/dist/bulma-tooltip"
